<a href="https://colab.research.google.com/github/mirian2004/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("안녕하세요 반갑습니다!")

안녕하세요 반갑습니다!

In [2]:
a=10
print

10

In [ ]:
print("안녕하세요 반갑습니다!")
print("나이 : ",25)
print("서울","부산","대구", sep= "->") #공통된 구분자를 sep로 지정한다.
print("안녕하세요", end="! ")
print("반갑습니다")
''' print한 후에 올 내용을 end로 작성한다.
기본적으로 파이썬에서 print함수는 /n으로 줄바꿈이 되기때문에 다음것을 줄바꿈하지 않고 이어서 작성할 때 사용할 수 있다. '''
name = "철수"
age = 20
print(f"{name}의 나이는 {age}살 입니다") #주석은 한줄이면 #, 여러줄이면 ''' 혹은 """ 사이에 작성한다"

안녕하세요 반갑습니다!
나이 :  25
서울->부산->대구
안녕하세요! 반갑습니다
철수의 나이는 20살 입니다

In [4]:
import math
print(math.pi)

3.141592653589793

In [5]:
import numpy as np #numpy ; 다차원 배열 객체, 배열과 함께 작동하는 도구 제공
array = np.array([1,2,3])
print(array)

[1 2 3]

In [6]:
from math import sqrt #math라는 모듈에서 sqrt(루트)라는 함수를 불러오겠다
print(sqrt(16))

4.0

In [7]:
from math import sin, cos, tan #여러함수 불러오기 -> ,를 사용한다
print(sin(0),cos(0),tan(0))

0.0 1.0 0.0

In [8]:
from math import * #모든 함수 불러오기 ?그러면 import math와 뭐가 다를까?
print(factorial(5))

120

In [1]:
if True:
    print("조건이 참입니다") #한 코드 내에서는 일관된 들여쓰기를 해야한다.
    print("여기는 동일한 블록입니다") #중괄호 대신에 띄어쓰기로 관리. 탭한번 혹은 띄어쓰기 4번
else:
    print("조건이 거짓입니다")

조건이 참입니다
여기는 동일한 블록입니다

In [1]:
age1 = 25
print(type(age1))

pi = 3.1415
print(type(pi))

message = "안녕하세요"
print(type(message))

is_active = True
print(type(is_active))
 #type() 함수를 통해 변수의 자료형을 확인할 수 있다

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
s1 = 100
n1 = int(s1)
print(n1, type(n1))

s2 = 3.14
n2 = float(s2)
print(n2, type(s2))

n3 = 256
s3 = str(n3)
print(s3, type(s3))

print(bool(0))
print(bool(1))
print(bool(""))
print(bool("abc"))
 # 숫자 0, 빈문자열 "", 빈 리스트[] 등은 False로 변환된다

100 <class 'int'>
3.14 <class 'float'>
256 <class 'str'>
False
True
False
True

In [8]:
#문자열 선언 : 큰따옴표, 작은 따옴표, 여러줄은 """

greeting1 = "Hi hello!"
greeting2 = 'Hi World!'
multiline = """ 여러 줄의
문자열을 작성할 때는
이렇게 합니다. """

#문자열 인덱싱/슬라이싱

st = "Python"
print(st[0]) #앞에서 첫번째
print(st[-1]) #뒤에서 첫번째

st2 = "Hello World!"
print(st2[0:5]) #0부터 5전까지
print(st2[7:]) #7부터 끝까지
print(st2[:5]) #처음부터 5전까지
print(st2[::2]) #2칸씩 건너뛰기

#문자열 연산

s1 = "파이썬"
s2 = "최고"
result = s1 + " " + s2
print(result)

s3 = "안녕"
print(s3 * 3)

#문자열 메소드

s4 = "Hello"
len(s4) #글자수 가져오기

s5 = "python"
print(s5.upper())

s6 = "PYTHON"
print(s6.lower())

s = "hello world"
print(s.capitalize()) #첫글자만 대문자로
print(s.title()) #각 단어의 첫글자를 대문자로

w = " Hello World "
print(w.strip()) #양쪽 공백 제

w1 = "  Hello World"
print(w1.lstrip())

w2 = "Hello World  "
print(w2.rstrip())

w3 = "Hello World"
print(w3.find("World")) #특정 문자열이 처음 등장하는 위치 반환
print(w3.find("Python")) #없으면 -1 반환
print(w3.index("World")) #특정 문자열이 처음 등장하는 위치 반환
print(w3.index("Python")) #없으면 오류 발생

w4 = "I like Java"
print(w4.replace("Java", "Python"))

a = "apple,banana,cherry"
fruits = a.split(",") #구분자를 기준으로 문자열을 분리, 리스트로 만듦
print(fruits)

words = ["Hello", "World"]
sentence = " ".join(words) #리스트의 문자열을 구분자로 결합. *앞에 오는게 구분자, 괄호 안이 리스트*
print(sentence)

a1 = "hello world"
print(a1.startswith("hello")) #특정 문자열로 시작하는지 검사
print(a1.endswith("world")) #특정 문자열로 끝나는지 검사

name = "철수"
age = 20
print("이름 : %s, 나이 : %d" % (name,age)) # % 연산자
print("이름 : {}, 나이 : {}".format(name, age)) #문자열.format()
print(f"이름 : {name}, 나이 : {age}") # f 문자열(중괄호 안에 변수)

P
n
Hello
orld!
Hello
HloWrd
파이썬 최고
안녕안녕안녕
PYTHON
python
Hello world
Hello World
Hello World
Hello World
Hello World
6
-1
6
I like Python
['apple', 'banana', 'cherry']
Hello World
True
True
이름 : 철수, 나이 : 20
이름 : 철수, 나이 : 20
이름 : 철수, 나이 : 20

In [10]:
name = input("이름을 입력하세요: ") #input() : 사용자가 괄호안을 입력할 수 있음
age = input("나이를 입력하세요: ")

age = int(age)

message = f"안녕하세요 {name}님! 당신은 {age}살 입니다!"

print(message)

이름을 입력하세요: 고다인
나이를 입력하세요: 21
안녕하세요 고다인님! 당신은 21살 입니다!